@import "tailwindcss";

@import './theme.css';

@import './tokens/typography.css';

/*@import './tokens/light-mode-colors.css';*/
@import './tokens/dark-mode-colors.css';
@import './tokens/spacing.css';